body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
}

/* Images */
img {
    max-width: 100%;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 10px;
}

/* Desktop */
@media (min-width: 768px) {

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}
